/* .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
    background-color: black;
    flex-direction: column;
}
.form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table,tr,th,tbody{
    border: 1px solid white;
}
td{
    border: 1px solid white;
}  */
.error{
    color: red;
}